<div class="modal" ng-controller="LoginController">

  <ion-header-bar class="bar-dark">
    <h1 class="title">Vardyger</h1>
  </ion-header-bar>

  <ion-content class="has-header">

    <form class="list">
      <div class="item item-divider text-center energized">
        Just tap the LOG IN button
      </div>
      <div>{{message}}</div>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="credentials.username" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="credentials.password" required>
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="login()" translate="LOGIN_BUTTON"></button>
      </div>
      <p class="text-center" translate="FORGOTTEN_PASSWORD"></p>
    </form>

  </ion-content>

</div>

<!--

  <ion-content class="vertical-center-container">

-->
