<ion-view view-title="Content">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <!--
  <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-positive">
      <h1 class="title">QBuddy</h1>
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-header-bar>

  ion-ios-arrow-right
  ion-ios-arrow-thin-right
  -->

  <ion-content class="has-header">

    <ion-list>

      <ion-item ng-repeat="listItem in listItems" href="#">
        {{listItem.name}}
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
