<ion-view title="Content">

  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <div class="bar bar-subheader bar-stable">
    <div class="title title-left padding-left">
      <small>ALL POSTS</small>
    </div>
    <a class="button icon-right ion-ios-compose button-clear button-balanced"
       href="#/app/editor">
    </a>
  </div>

  <ion-content class="has-header has-subheader">

    <div ng-if="! listItems.length" class="item item-energized v-item">No posts :(</div>

    <ion-list>

      <ion-item
        ng-repeat="listItem in listItems"
        ui-sref='app.preview({postId: listItem.post.id})'>
          {{listItem.post.title}}

        <a class="item-icon-right">
          <i class="icon ion-ios-arrow-thin-right"></i>
        </a>

        <div>
          <p>
            <span>
              <icon class="v-icon-item-left positive"
                    ios="ion-ios-person"
                    android="ion-android-person"
                    default="ion-person">
              </icon>
            </span>
            <span class="padding-top">&nbsp;Published a few days ago</span>
          </p>
        </div>

      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>

<!--

            <icon class="v-icon-item-left positive"
                  ios="ion-ios-person"
                  android="ion-android-person"
                  default="ion-person">
            </icon>

        ui-sref="preview({postId: listItem.post.id})">
        ng-class='{done: listItem.done}'>

      <ion-item
        class="v-item"

        <a class="item-icon-right">
          <i class="icon ion-ios-arrow-right balanced"></i>
        </a>

        <div class="item-icon-right">
          <icon class="item-icon-right positive"
                ios="ion-ios-arrow-right"
                android="ion-android-arrow-forward"
                default="ion-chevron-right">
          </icon>
        </div>

          <icon class="positive" ...

          <icon ios="ion-ios-arrow-thin-right"
                android="ion-android-arrow-forward"
                default="ion-arrow-right-c">
          </icon>

-->
