<ion-view title="{{ 'PREVIEW_TEMPLATE_TITLE' | translate }}">

  <ion-nav-buttons side="right">
    <button class="button button-outline" ui-sref="app.editor({postId: item.post.id})" translate="EDIT">
      <!-- Using translateFilter is great, but using translateDirective is better.
      {{ 'EDIT' | translate }}
      -->
    </button>
   </ion-nav-buttons>

  <ion-content>

    <div class="post-content">
      <h1 class="padding-top">{{item.post.title}}</h1>
      <div ng-bind-html="item.post.html"></div>
    </div>

  </ion-content>

</ion-view>

<!--

  <ion-content class="has-header">

  ng-click="editPost()"

  {{ renderHTML(item.post.html) }}

-->
