<ion-view title="Welcome">

  <!--
    Use primary and secondary, so buttons correctly map to the side familiar to users of each platform.
    ion-nav-buttons must be immediate descendants of the ion-view or ion-nav-bar element
    (basically, don't wrap it in another div).
  -->
  <ion-nav-buttons side="primary">
    <button class="button button-icon button-clear icon ion-navicon" menu-toggle="primary"></button>
  </ion-nav-buttons>

  <ion-content class="has-header padding">

    <p>Welcome!</p>

  </ion-content>

</ion-view>
