<div class="widget">
	<div class="widget-title">
		<h3>
			Who's behind Vardyger?
		</h3>
	</div>
	<div class="widget-content">
		<div class="split-container">
			<div class="left-content">
				<div class="img-thumb">
					<img class="img-responsive" src="/shared/img/user-image.png" alt="avatar"/>
				</div>
			</div>
			<div class="right-content">
				<p>
					Rob Ferguson, ...
				</p>
				{{>social-icons}}
			</div>
		</div>
	</div>
</div>