<div class="widget">
	<div class="widget-title">
		<h3>
			Hire me
		</h3>
	</div>
	<div class="widget-content">
		<div class="split-container">
			<div class="left-content">
				<div class="icon-thumb">
					<i class="fa fa-thumbs-o-up"></i>
				</div>
			</div>
			<div class="right-content">
				<p>
				I'm available for contract and freelance project work. Feel free to contact me through <a href="#" target="_blank">linkedin</a>, <a href="#" target="_blank">twitter</a>, <a href="#" target="_blank">github</a> or download my cv below.
				</p>
				<a class="btn btn-resume" href="{{@blog.url}}/resume/">
					View My Resume
				</a>
			</div>
		</div>
	</div>
</div>