<div class="widget">
	<div class="widget-title">
		<h3>
			Subscribe Newsletter
		</h3>
	</div>
	<div class="widget-content">
		<div class="form-container">
			<form id="mc-form" action="http://sunflowertheme.us5.list-manage.com/subscribe/post?u=7e0a4b0ce5fd160742dc568d3&amp;id=cc1306b53a" method="post" novalidate="true">
				<div class="input-group">
					<input id="mc-email" type="email" name="EMAIL" placeholder="Email address" class="form-control" required>
			      	<span class="input-group-btn">
			        	<button class="btn btn-theme" type="submit"><i class="fa fa-long-arrow-right"></i></button>
			      	</span>
			    </div>
			</form>
		</div>
		<div class="split-container inverse">
			<div class="left-content">
				<p>
					Enter your email address to receive weekly email updates!
				</p>
			</div>
			<div class="right-content">
				<div class="icon-thumb">
					<i class="fa fa-paper-plane-o"></i>
				</div>
			</div>
		</div>
	</div>
</div>