/**
 *
 * PATH TO THIS FILE: app/styles/styles.scss
 *
 * Notice that here we define styles but do not define variables.
 * Variables should all be defined ahead of time. If we define any
 * variables here, then they will be local to this file, and will
 * not reset the globals.
 *
 **/

// TODO:
// Update Gruntfile.js so that it only compiles main.scss and not
// all .scss files in the styles directory.
@import "variables";
// e.g., grunt serve --force v grunt serve

/**
 * Typography, see bower_components/ionic/scss/_types.scss
 */

// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-computed / 2);
  font-weight: $body-font-weight;
}

// Emphasis & misc
// -------------------------

small {
  font-size: 60%;  // 85%
  font-weight: $small-font-weight;
}

// Headings
// -------------------------

h1, .h1 { font-size: floor($font-size-base * 2.80); } // ~36px  2.60
h2, .h2 { font-size: floor($font-size-base * 2.15); } // ~30px
h3, .h3 { font-size: ceil($font-size-base * 2.00); } // ~24px   1.7
h4, .h4 { font-size: ceil($font-size-base * 1.25); } // ~18px
h5, .h5 { font-size:  $font-size-base; }
h6, .h6 { font-size: ceil($font-size-base * 0.85); } // ~12px

.v-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.v-content {
  background-color: white;
}

.item.wrap, .wrap.v-item, .item-content.wrap {
  white-space: normal;
}

.v-icon-item-left {
  font-size: 24px;
  vertical-align: text-top;
}

.wrapper {
  padding-top: 6px;
  padding-left: 14px;
  padding-right: 14px;
}
