/**
 *
 * PATH TO THIS FILE: app/styles/variables.scss
 *
 * In this file we're smoothly overriding any ionic variables that have
 * existing defaults inside the framework variables file. We're also defining
 * our own variables that we can use in our app's components. Essentially we're
 * setting the global variables for our app here.
 *
 * For a list of the possible variables that you can override, see bower_components/ionic/scss/_variables.scss
 *
 * Note: we add !default to all variables so that they can be overridden later on if need be.
 *
 **/

// The path to the ionicons font files, relative to the built CSS in www/styles
// $ionicons-font-path: "../fonts" !default;

// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #9FBB58 !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #242628 !default;

// Base
// -------------------------------

$font-family-sans-serif:          "Open Sans", sans-serif !default;
$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-sans-serif !default;
$font-size-base:                  18px !default; // 14px
$font-size-large:                 18px !default;
$font-size-small:                 9px !default; // 11px

$line-height-base:                1.428571429 !default; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:               1.33 !default;
$line-height-small:               1.5 !default;

$headings-font-family:            $font-family-base !default;
$headings-font-weight:            bold !default;
$headings-line-height:            1.2 !default;

$base-background-color:           #fff !default;
$base-color:                      #000 !default;

$link-color:                      $positive !default;
$link-hover-color:                darken($link-color, 15%) !default;

$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$border-radius-base:              4px !default;
$border-radius-large:             6px !default;
$border-radius-small:             3px !default;


$body-font-weight:                200 !default;
$small-font-weight:               400 !default;
