<!doctype html>
<html>
<head>

    {{! Document Settings }}
    <meta charset="utf-8" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link href="/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/assets/img/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'> {{! Change google font here }}
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

    {{! Change color scheme here }}
    <link rel="stylesheet" type="text/css" href="/assets/css/colors/orange.css" />

</head>
<body>

    {{{body}}}

</body>
</html>