<footer class="site-footer one-colum"
	data-layout="wide" {{!Footer layout option: change it to default or wide}}
	>
	<div class="site-footer-wrap">
		<a class="totop-btn"><i class="fa fa-chevron-up"></i></a>		
		<div class="footer-social">
			{{>social-icons}}
		</div>			
		<div class="copyright">
			<p>Copyright &copy; 2014 <a href="/">{{@blog.title}}</a> All rights reserved.</p>
		</div>
	</div>
</footer>