<footer class="site-footer three-colums"
	data-layout="default" {{!Footer layout option: change it to 'default' or 'wide'}}
	>
	<div class="site-footer-wrap">
		<a class="totop-btn"><i class="fa fa-chevron-up"></i></a>
		<div class="row footer-widget-container">
			<div class="col-md-4">
				{{! >widget/hire-me}}
			</div>
			<div class="col-md-4">
				{{! >widget/newsletter}}
			</div>
			<div class="col-md-4">
				{{! >widget/about-author}}
			</div>
		</div>						
		<div class="copyright">
            <p>Copyright &copy; 2015 Rob Ferguson</p>
		</div>						
	</div>
</footer>