{{!Begin of Social Icon List}}
<ul class="social">
	{{!Begin Social item}}
	<li class="google">
		<a href="#" target="_blank" title="Google"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-google-plus"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="twitter">
		<a href="#" target="_blank" title="Twitter"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="facebook">
		<a href="#" target="_blank" title="Facebook"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	{{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}