::selection {
	background-color: #cd5c5c;
}
a {
	color: #cd5c5c;
}
a:hover,
a:focus{
	color: #cd5c5c;
}
.pace .pace-progress {
  	background-color: #cd5c5c;
}
.pace .pace-progress-inner {  	
  	box-shadow: 0 0 10px #cd5c5c, 0 0 5px #cd5c5c;  	
}
.pace .pace-activity {
  	border-top-color: #cd5c5c;
  	border-left-color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .logo-container .logo.text {
	color: #cd5c5c;
}
.header .header-wrap .nav-container .standard-nav>li>a:before {
	background-color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .standard-nav>li>a {
	color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .standard-nav>li>a:before{
	background-color: #cd5c5c;
}
.header .header-wrap .nav-container .mini-nav-button.active,
.header .header-wrap .nav-container .mini-nav-button:hover{
	background-color: #fff;
}
.header .header-wrap .nav-container .mini-nav-button:hover span{
	background-color: #cd5c5c;
}
.header .header-wrap .nav-container .mini-nav-button.active span{
	background-color: transparent;
}
.header .header-wrap .nav-container .mini-nav-button.active span:before,
.header .header-wrap .nav-container .mini-nav-button:hover span:before,
.header .header-wrap .nav-container .mini-nav-button.active span:after,
.header .header-wrap .nav-container .mini-nav-button:hover span:after {
	background-color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button{
	border-color: #cd5c5c;
	color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button.active,
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button:hover{
	background-color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button span {
	background-color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button span:before,
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button span:after {
	background-color: #cd5c5c;
}
.full-screen-nav .full-screen-nav-wrap .full-screen-nav-wrap-inner .full-screen-nav-items>li.active>a,
.full-screen-nav .full-screen-nav-wrap .full-screen-nav-wrap-inner .full-screen-nav-items>li>a:hover{
	color: #cd5c5c;
}
.full-screen-nav .full-screen-nav-wrap .full-screen-nav-wrap-inner .full-screen-nav-items>li>a:before {
	background-color: #cd5c5c;
}
.header .header-wrap .addition-container ul.social>li:hover>a>i{
	color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container ul.social>li {
	border-color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container ul.social>li>a>i{
	color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container ul.social>li:hover {
	background-color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container ul.social>li:hover>a>i{
	color: #fff;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container .search-button{
	border-color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container .search-button i {
	color: #cd5c5c;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container .search-button:hover{
	background-color: #cd5c5c;
}
.header .header-wrap .addition-container .search-button:hover i{
	color: #cd5c5c;
}
#site-intro{
	background-color: #cd5c5c;
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn:hover,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn:hover{	
	color: #cd5c5c;
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn:hover i,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn:hover i{
	color: #cd5c5c;
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn.highlight,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn.highlight{		
	border-color: #D76666;	
	background-color: #D76666;	
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn.highlight:hover,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn.highlight:hover{		
	background-color: #cd5c5c;
	border-color:#cd5c5c;
}
#site-intro ul.social li:hover>a>i {
	color: #cd5c5c;
}
#site-intro .more-detail a:hover{
	color: #cd5c5c;
}
#site-intro[data-more-button-style="button-only"] .more-detail a:hover {
	color: #cd5c5c;
}
.body-content .post.even {
	background-color: #cd5c5c;
}
.body-content .post .post-header .header-wrap .line.has-icon a:hover::before,
.body-content .post.odd .post-header.has-background .header-wrap .line.has-icon a:hover::before{
	color: #cd5c5c;
}
.body-content .post .post-header .header-wrap .post-action .read-more:hover i,
.body-content .post.odd .post-header.has-background .header-wrap .post-action .read-more:hover i {
	color: #cd5c5c;
}
.body-content .post .post-header .header-wrap .post-action .read-more:hover,
.body-content .post.odd .post-header.has-background .header-wrap .post-action .read-more:hover {
	color: #cd5c5c;
}
.body-content .post .post-header.has-background .header-wrap .post-action .read-more:hover i,
.body-content .post.odd .post-header.has-background .header-wrap .post-action .read-more:hover i {
	color: #cd5c5c;
}
.body-content .post .post-header.has-background .header-wrap .post-action .read-more:hover,
.body-content .post.odd .post-header.has-background .header-wrap .post-action .read-more:hover {
	color: #cd5c5c;	
}
.post-template .body-content .post .post-header {
	background-color: #cd5c5c;
}
.post-template .body-content .post .post-content blockquote{
	border-left-color: #cd5c5c;
}
.post-template .next-post .next-post-wrap .next-arrow a:hover i{
	color: #cd5c5c;
}
.page-resume .body-content .post .post-content .resume-col .progress.skill .progress-bar-skill {
	background-color: #cd5c5c;
}
.pagination-wrap .pagination .page-number,
.pagination-wrap .pagination .page-number span{
	color: #cd5c5c;
}
.pagination-wrap .pagination .newer-posts, .pagination-wrap .pagination .older-posts {
	border-color: #cd5c5c;
	color: #cd5c5c;
}
.pagination-wrap .pagination .newer-posts, 
.pagination-wrap .pagination .newer-posts span,
.pagination-wrap .pagination .newer-posts i,
.pagination-wrap .pagination .older-posts,
.pagination-wrap .pagination .older-posts span, 
.pagination-wrap .pagination .older-posts i{
	color: #cd5c5c;
}
.pagination-wrap .pagination .newer-posts:hover, .pagination-wrap .pagination .older-posts:hover {
	background-color: #cd5c5c;	
}

.widget .widget-content a{
	color: #cd5c5c;
}
.gmap-container{
	background-color: #cd5c5c;
}
#time-to-read-nofify{
	background-color: #cd5c5c;
}
#time-to-read-nofify:after{
	border-left-color:#cd5c5c;
}
.share-box .share-box-wrap{
	background-color: #cd5c5c;
}
.share-box .share-box-wrap::after{	
	border-left-color:#cd5c5c;
}
.share-box ul.social>li:hover>a>i{
	color: #cd5c5c;
}
#gmap div.gmnoprint[title="i-am-here"] {	
	background-color: #cd5c5c;
}
