<div id="site-intro" {{#if @blog.cover}} class="covered" style="background-image: url({{@blog.cover}})"{{/if}}
	data-more-button-style="icon-and-text" {{!More detail button option: change it to 'icon-and-text' or 'button-only' or 'icon-only'}}
	>
	<div class="intro-wrap">
		<div class="intro-text">
			<div class="welcome-text style1">
				<div class="line1">Hi There,</div>
				<div class="line2">Welcome to {{@blog.title}}!</div>
				<div class="line3">{{@blog.description}}.</div>
			</div>
			{{>social-icons}}
		</div>
	</div>
	<div class="more-detail">
		<div class="scrollDown">
			<span class="mouseBorder"></span>
		    <span class="mouseWheel"></span>
		</div>
		<a class="start" href="#start">
			Discover Now
		</a>
	</div>
</div>